
// Chat LESS

.js-chat {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px 0 0;

  .-history {
    overflow-y: auto;
    padding: 0 10px;
    transition: all 200ms ease-in;


    // react mobile click fix
    cursor: pointer;

    position: absolute;
    bottom: 42px;
    width: 100%;

    .message {
      .name {
        color: #777;
      }
      .spacer {
        color: #333;
      }
      &.x-player {

      }
    }
  }

  &.x-compact {
    .-history {
      background-color: rgba(0, 0, 0, 0.75);
      color: #aaa;
      max-height: 6em;
    }
  }
  &.x-full {
    top: 52px;
    .-history {
      background-color: rgba(0, 0, 0, 0.93);
      color: #ccc;
      max-height: none;
      top: 0;
    }
  }
  .-chatForm {
    margin: 0;
    position: absolute;
    bottom: 0;
  }
}