
// in-game screen

.rc-game {
  position: relative;
  padding-bottom: 60px;


  .-gameProgress {
    section {
      &.-objectives {
        .-information {
          line-height: 30px;
        }
      }
    }
    section + section {
      margin-bottom: .5em;
    }
    .-information {
      background-color: #ddd;
      line-height: 45px;
      padding: 5px 10px 0;
      text-align: center;
      box-shadow: inset 0 2px 2px #999;

      &.x-justify {
        display: flex;
        justify-content: space-between;
      }
    }
    .progress {
      border-radius: 0;
      background-color: #bbb;
      height: 8px;
      margin-bottom: 0;
    }
  }
  .-survivor {
    padding: 0 10px;
    button {
      margin: 0.25em auto;
      display: block;
    }
    .-objectives {
      background-color: #ccc;
      border-radius: 0.15em;
      padding: .5em 0.25em 0.25em;
      margin-bottom: 0.5em;
      position: relative;
      box-shadow: 0 0 6px #000;

      border-top: 8px solid #337ab7;

      .label {
        position: absolute;
        top: 0;
        left: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        font-weight: normal;
      }
    }
    .-actions {
      margin-top: 1em;
    }
  }
}
